.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b4e7da; /* Фон страницы */
}

.header {
    display: flex; /* Размещаем элементы шапки в ряд */
    justify-content: space-between; /* Равномерное распределение элементов по горизонтали */
    align-items: center; /* Вертикальное выравнивание элементов по центру */
    margin-bottom: 20px;
}

.status {
    font-size: 18px;
    font-weight: bold;
    color: #afafaf; /* Цвет статуса */
}

.buttons {
    display: flex;
    justify-content: flex-end; /* Размещаем кнопки справа */
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.companies {
    display: flex;
    flex-wrap: wrap; /* Размещение карточек в несколько строк */
    gap: 20px;
    width: calc(100% - 40px); /* Расширяем карточки на всю ширину, за исключением отступов */
    margin-left: 40px; /* Добавляем отступ слева, чтобы карточки начинались после кнопок */
}

.company {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: calc(50% - 20px); /* Ширина карточки 50% за вычетом отступов */
}

.company-info {
    font-weight: bold;
    margin-bottom: 10px;
}

.employee {
    margin-bottom: 10px;
}

.employee-name {
    display: block;
    margin-bottom: 5px;
}

.employee-login,
.employee-password {
    display: inline-block;
    margin-right: 10px;
}