<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Здравствуйте {{ status }}</title>
    <link rel="stylesheet" href="panel.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <span class="status">Статус: {{ status }}</span>
        </div>
        {% autoescape off %}
        {{ buttons }}
        {% endautoescape %}
        <div class="companies">
            {% for company in company_list %}
                <div class="company">
                <div class="company-info">
                    <span class="company-name">{{ company.name }}</span>
                </div>
                {% for worker in company.workers %}
                <div class="employees">
                    <div class="employee-card">
                        <span class="employee-name">{{ worker.name }}</span>
                        <div class="employee-credentials">
                            <span class="employee-login-label">Логин:</span>
                            <span class="employee-login">{{ worker.login }}</span>
                            <br>
                            <span class="employee-password-label">Пароль:</span>
                            <span class="employee-password">{{ worker.password }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>